* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", cursive;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  background: red;
  width: 100vh;
  height: 100vh;
  background-image: url("background.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.profile > img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.profile > p {
  padding: 5px;
  font-size: 1.5em;
  font-weight: bold;
  color: aliceblue;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;
}

.linktree {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1px;
}

.linktree > a {
  text-decoration: none;
  color: white;
  background-color: rgb(27, 27, 27);
  font-size: 18px;
  text-align: center;
  border: 2px solid #222;
  border-radius: 7px;
  margin: 5px 10px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.linktree > a:hover {
  color: rgb(12, 12, 12);
}

.footer > h2 {
  text-align: center;
  color: white;
  font-size: larger;
  padding: 20px;
}
